# Runtime-generated data
data/

# Runtime-generated wallpaper
images/moon_wallpaper_*.png

# Moon image cache directories
images/[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]/
images/moon_annotations.txt
images/moon_widget.png

# User-specific configuration file
configuration/moon_wallpaper.conf
