[Unit]
Description=Run MoonPhaseWallpaper every hour

[Timer]
# Run once immediately after login
OnStartupSec=30s

# Run at interval specified during installation
OnCalendar=@INTERVAL@

[Install]
WantedBy=timers.target
