[Unit]
Description=Run MoonPhaseWallpaper to update desktop background image

[Service]
Type=oneshot
# The following line will be updated with the installation directory during installation.
ExecStart=@INSTALL_DIR@/moon_wallpaper.sh
